.comics {
  grid-template-columns: auto auto auto auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;

  .navBar {
    display: flex;
    height: 10px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    max-width: 1200px;
    background-color: rgba(128, 128, 128, 0.065);

    .showMods {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      font-size: 0.9rem;

      .list {
        gap: 2px;
        display: flex;
        align-items: center;
        color: green;
        .icon {
          cursor: pointer;
        }
      }

      .grid {
        gap: 2px;
        display: flex;
        align-items: center;
        color: green;
        .icon {
          cursor: pointer;
        }
      }

      .active {
        gap: 2px;
        display: flex;
        align-items: center;
        color: black;
        font-weight: bolder;
        .icon {
          cursor: pointer;
        }
      }
    }
  }

  .comic {
    width: 250px;
    .img {
      width: 250px;
      height: 375px;
      border: 3px solid black;
    }
    .dateAdded {
      color: gray;
    }
  }

  &.list {
    margin-top: 0;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    .comic {
      width: 100%;
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.26);
      width: 1024px;
      max-width: 1200x;
      margin: 0 auto;
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
  }
}
