.home {
  background-color: rgba(128, 128, 128, 0.261);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .navBar {
    display: flex;
    height: 10px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    max-width: 1200px;
    background-color: rgba(128, 128, 128, 0.065);

    .showMods {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      font-size: 0.9rem;

      .list {
        gap: 2px;
        display: flex;
        align-items: center;
        color: green;
        .icon {
          cursor: pointer;
        }
      }

      .grid {
        gap: 2px;
        display: flex;
        align-items: center;
        color: green;
        .icon {
          cursor: pointer;
        }
      }

      .active {
        gap: 2px;
        display: flex;
        align-items: center;
        color: black;
        font-weight: bolder;
        .icon {
          cursor: pointer;
        }
      }
    }
  }
}
