.header {
  font-size: 40px;
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .nav {
    font-size: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.098);
    background-color: black;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.438);
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .logBtns {
      height: 30px;
      width: 30px;
      display: flex;
      position: absolute;
      left: 50px;
      align-items: center;
    }

    .login {
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 75px;
      background-color: rgba(255, 0, 0, 0.524);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      color: white;
      font-weight: bold;
    }
    .logout {
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 75px;
      background-color: blue;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      color: white;
      font-weight: bold;
    }
    .login:hover,
    .logout:hover {
      opacity: 0.5;
    }
  }

  .title {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .title span {
    transition: 0.3s;
  }
  .title span:hover {
    color: red;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
