.header {
  font-size: 40px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 500;

  .nav {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.939);
    width: 100%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.702);
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;

    .logBtns {
      height: 30px;
      width: 30px;
      display: flex;
      margin-left: 50px;
      align-items: center;
    }

    .login {
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 75px;
      background-color: rgba(255, 0, 0, 0.524);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      color: white;
      font-weight: bold;
      opacity: 0.5;
    }

    .logout {
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 75px;
      background-color: blue;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      color: white;
      font-weight: bold;
      opacity: 0.5;
    }

    .login:hover,
    .logout:hover,
    .goHome:hover {
      opacity: .8;
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.584);
    }

    .goHome {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      border: 1px solid yellow;
      background-color: yellow;
      padding: 5px 10px;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      opacity: .5;
      transition: .3s;
    }

    .errorMsg {
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.948);
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      font-weight: bold;

      .closeError {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.197);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 25px;
        right: 25px
      }

      .closeError:hover {
        transform: scale(1.1);
      }

      .errorImg {
        padding: 10px;
        width: 50px;
        height: 50px;
      }
    }
  }

  .title {
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .title span {
    transition: 0.3s;
  }
}

@media screen and (max-width: 500px) {
  .header {
    .nav {
      .logBtns {
        margin-left: 25px;
      }
    }


  }
}