.favContainer {
  display: flex;
  position: relative;
  margin-right: 60px;

  .favCounter {
    position: absolute;
    top: 0px;
    right: -5px;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favIcon {
    width: 30px;
    height: 30px;
  }
}
