@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.261);
  min-height: 100vh;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
